<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectEMI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckRescheduling</servlet-name>
    <servlet-class>controller.CheckRescheduling</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ROIServlet</servlet-name>
    <servlet-class>controller.ROIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PartialPrepaymentServlet</servlet-name>
    <servlet-class>controller.PartialPrepaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Check</servlet-name>
    <servlet-class>controller.Check</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Process</servlet-name>
    <servlet-class>controller.Process</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSchedulePPP</servlet-name>
    <servlet-class>controller.SaveSchedulePPP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForeclosureServlet</servlet-name>
    <servlet-class>controller.ForeclosureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveRequestedSchedule</servlet-name>
    <servlet-class>controller.SaveRequestedSchedule</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePrePaymentPenalty</servlet-name>
    <servlet-class>controller.ChangePrePaymentPenalty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayForeClosure</servlet-name>
    <servlet-class>controller.PayForeClosure</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSchedule</servlet-name>
    <servlet-class>controller.SaveSchedule</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveScheduleROI</servlet-name>
    <servlet-class>controller.SaveScheduleROI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRequestedSchedule</servlet-name>
    <url-pattern>/SaveRequestedSchedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckRescheduling</servlet-name>
    <url-pattern>/CheckRescheduling</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ROIServlet</servlet-name>
    <url-pattern>/ROIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartialPrepaymentServlet</servlet-name>
    <url-pattern>/PartialPrepaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Process</servlet-name>
    <url-pattern>/Process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSchedulePPP</servlet-name>
    <url-pattern>/SaveSchedulePPP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePrePaymentPenalty</servlet-name>
    <url-pattern>/ChangePrePaymentPenalty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForeclosureServlet</servlet-name>
    <url-pattern>/ForeclosureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayForeClosure</servlet-name>
    <url-pattern>/PayForeClosure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSchedule</servlet-name>
    <url-pattern>/SaveSchedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveScheduleROI</servlet-name>
    <url-pattern>/SaveScheduleROI</url-pattern>
  </servlet-mapping>
  
  <filter>
        <filter-name>ProcessFilter</filter-name>
        <filter-class>filter.ProcessFilter</filter-class>
        <init-param>
            <param-name>logType</param-name>
            <param-value>special</param-value>
        </init-param>
  </filter>
  <filter-mapping>
        <filter-name>ProcessFilter</filter-name>
        <servlet-name>Process</servlet-name>
  </filter-mapping>
  
  
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
</web-app>